body {
  font-family: helvetica, calibri, arial, 'sans serif';
  font-size: 1em;
}

.msg-info {
  color: #6F8A9F;
  font-style: italic;
}

.msg-success {
  color: #2C922C;
  font-style: italic;
}

.msg-warn {
  color: #C25305;
}

.msg-error {
  padding: 5px;
  color: #990000;
  font-weight: 900;
}